$brandColors: (
    white: #fff,
    black: #000,
    blue: blue, // Selection border
    cyan: #0097a7,
    orange: #f37900,
    green: #4caf50,
    red: red,

    gray-1: #333, // text color
    gray-2: #444,
    gray-3: #555,
    gray-4: #666,
    gray-5: #777, // disabled text
    gray-6: #888,
    grey-7: #f4f2f2 // Background color
)