<!-- Toolbar -->
<header class="master-header">
  <img src="../assets/logos/demo_logo.png" alt="Placeholder logo" i18n-[alt] class="master-header__logo">
  
  <nav class="master-nav">
    <div class="master-nav__info" routerLink="/users" routerLinkActive="master-nav__info--active" i18n>
      Users
    </div>

    <div class="master-nav__info">
      <a class="nav-link" href="mailto:gurusamrudh@gmail.com" target="_top" i18n>Contact</a>
    </div>
  </nav>
</header>
<!-- /Toolbar -->

<router-outlet></router-outlet>